In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px
import datetime as dt

In [2]:
streaming_history_2024= pd.read_json(r"dataset files\Streaming_History_Audio_2024_8.json")
streaming_history_2024_2023 = pd.read_json(r"dataset files\Streaming_History_Audio_2023-2024_7.json")

In [3]:
pd.get_option("display.max_columns")

20

In [4]:
streaming_history_2024.drop(columns= ['ip_addr','spotify_track_uri','episode_name','episode_show_name','spotify_episode_uri',\
                                      'reason_start','reason_end','shuffle','skipped','offline','offline_timestamp','incognito_mode'],\
                                        axis=1, inplace=True)

In [5]:
streaming_history_2024.rename(columns= {'master_metadata_track_name':'Track_name','master_metadata_album_artist_name':'Artist_name',\
                                        'master_metadata_album_album_name':'Album_name'}, inplace=True)

In [6]:
streaming_history_2024_2023.drop(columns=['ip_addr','spotify_track_uri','episode_name','spotify_episode_uri',\
                                          'reason_start','reason_end','shuffle','skipped','offline','offline_timestamp',\
                                            'incognito_mode','episode_show_name'], axis=1, inplace=True)

In [7]:
streaming_history_2024_2023.rename(columns={'master_metadata_track_name':'Track_name',\
                                            'master_metadata_album_artist_name':'Artist_name',\
                                            'master_metadata_album_album_name':'Album_name'}, inplace=True)

In [8]:
streaming_history_2024_2023['date'] = pd.to_datetime(streaming_history_2024_2023['ts']).dt.date
streaming_history_2024['date'] = pd.to_datetime(streaming_history_2024['ts']).dt.date

In [9]:
streaming_history_2024_2023['year'] = pd.to_datetime(streaming_history_2024_2023['date']).dt.year
streaming_history_2024['year'] = pd.to_datetime(streaming_history_2024['date']).dt.year

In [10]:
streaming_history_2024_2023.head()

,ts,platform,ms_played,conn_country,Track_name,Artist_name,Album_name,date,year
0,2023-06-26T11:33:33Z,android,33571,IN,Bye Bye Blues,Stela Cole,Bye Bye Blues,2023-06-26,2023
1,2023-06-26T11:37:25Z,android,136956,IN,Bye Bye Blues,Stela Cole,Bye Bye Blues,2023-06-26,2023
2,2023-06-26T11:39:41Z,android,141575,IN,Rich Like That - deluxe,ELIO,ELIO'S INFERNO,2023-06-26,2023
3,2023-06-26T11:42:11Z,android,156000,IN,people must think we’re idiots,Emily Vaughn,people must think we’re idiots,2023-06-26,2023
4,2023-06-26T11:45:04Z,android,179446,IN,Something In The Way,bülow,Something In The Way,2023-06-26,2023

In [11]:
streaming_history_2024.head()

,ts,platform,ms_played,conn_country,Track_name,Artist_name,Album_name,date,year
0,2024-05-04T11:00:08Z,osx,9653,IN,None Of My Business,Cher Lloyd,None Of My Business,2024-05-04,2024
1,2024-05-04T11:00:55Z,osx,47082,IN,None Of My Business,Cher Lloyd,None Of My Business,2024-05-04,2024
2,2024-05-04T11:01:09Z,osx,12373,IN,None Of My Business,Cher Lloyd,None Of My Business,2024-05-04,2024
3,2024-05-04T11:01:09Z,osx,85,IN,None Of My Business,Cher Lloyd,None Of My Business,2024-05-04,2024
4,2024-05-04T11:01:21Z,osx,12554,IN,None Of My Business,Cher Lloyd,None Of My Business,2024-05-04,2024

In [12]:
streaming_history_2024_2023_filtered = streaming_history_2024_2023[streaming_history_2024_2023['year']==2024]

In [13]:
streaming_history_2024_2023_filtered.reset_index()

,index,ts,platform,ms_played,conn_country,Track_name,Artist_name,Album_name,date,year
0,9878,2024-01-01T03:04:10Z,android,60487,IN,Hotel,Claire Rosinkranz,6 Of A Billion,2024-01-01,2024
1,9879,2024-01-01T03:06:28Z,android,147368,IN,CHARGER (ft. Charli XCX),ELIO,ELIO and Friends : The Remixes,2024-01-01,2024
2,9880,2024-01-01T03:08:51Z,android,151077,IN,How to Be Alone,Rachel Grae,How to Be Alone,2024-01-01,2024
3,9881,2024-01-01T03:10:51Z,android,129938,IN,Scatterbrain,Emei,Scatterbrain,2024-01-01,2024
4,9882,2024-01-01T03:13:26Z,android,27536,IN,London Boy,Taylor Swift,Lover,2024-01-01,2024
...,...,...,...,...,...,...,...,...,...,...
9254,19132,2024-05-04T10:57:16Z,osx,178228,IN,Hate Me,Ellie Goulding,Brightest Blue,2024-05-04,2024
9255,19133,2024-05-04T10:57:18Z,osx,8234,IN,Queen,Loren Gray,Queen,2024-05-04,2024
9256,19134,2024-05-04T10:57:27Z,osx,9738,IN,Queen,Loren Gray,Queen,2024-05-04,2024
9257,19135,2024-05-04T10:59:57Z,osx,150805,IN,Queen,Loren Gray,Queen,2024-05-04,2024
9258,19136,2024-05-04T10:59:59Z,osx,8414,IN,None Of My Business,Cher Lloyd,None Of My Business,2024-05-04,2024

In [14]:
#Importing SQLAlchemy to integrate into the project
from sqlalchemy import MetaData, create_engine, Column, Integer, String, Float, ForeignKey
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import sessionmaker, relationship
from sqlalchemy import text
metadata =MetaData()

In [15]:
engine= create_engine('sqlite:///Spotify_data.db')

In [16]:
streaming_history_2024.to_sql('SH2024', engine, index=False, if_exists='replace')
streaming_history_2024_2023_filtered.to_sql('SH2324_filtered', engine, index= False, if_exists= 'replace')

9259

In [26]:
query= """
SELECT s24.ts, s24.platform, s24.ms_played, s24.conn_country, s24.Track_name, s24.Artist_name, s24.Album_name, s24.date, s24.year
FROM SH2024 as s24
UNION ALL 
SELECT s234.ts, s234.platform, s234.ms_played, s234.conn_country, s234.Track_name, s234.Artist_name, s234.Album_name, s234.date, s234.year
FROM SH2324_filtered as s234
"""
spotify_2024 = pd.read_sql(query, engine)

In [27]:
spotify_2024= spotify_2024.sort_values(by= 'date', ascending=True).reset_index(drop=True)

In [28]:
spotify_2024['sec_played'] = spotify_2024['ms_played']/1000

In [29]:
spotify_2024['sec_played'] = spotify_2024['sec_played'].apply(round)

In [30]:
spotify_2024 = spotify_2024[spotify_2024['sec_played']>=30]

In [31]:
spotify_2024.head()

,ts,platform,ms_played,conn_country,Track_name,Artist_name,Album_name,date,year,sec_played
73,2024-01-01T08:14:03Z,android,30797,IN,Oh My God,Adele,30,2024-01-01,2024,31
79,2024-01-01T08:12:12Z,android,48278,IN,High with You,Clemont,In the Beginning,2024-01-01,2024,48
84,2024-01-01T08:20:55Z,android,47376,IN,Despacito,Luis Fonsi,VIDA,2024-01-01,2024,47
90,2024-01-01T08:19:39Z,android,31672,IN,MONTERO (Call Me By Your Name),Lil Nas X,MONTERO,2024-01-01,2024,32
113,2024-01-01T11:04:30Z,android,188174,IN,Slow Hands,Niall Horan,Flicker,2024-01-01,2024,188

In [32]:
spotify_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17327 entries, 73 to 25319
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ts            17327 non-null  object
 1   platform      17327 non-null  object
 2   ms_played     17327 non-null  int64
 3   conn_country  17327 non-null  object
 4   Track_name    17322 non-null  object
 5   Artist_name   17322 non-null  object
 6   Album_name    17322 non-null  object
 7   date          17327 non-null  object
 8   year          17327 non-null  int64
 9   sec_played    17327 non-null  int64
dtypes: int64(3), object(7)
memory usage: 1.5+ MB

In [33]:
spotify_2024.nunique()

ts              17327
platform            6
ms_played       11951
conn_country        1
Track_name       6949
Artist_name      2808
Album_name       5602
date              322
year                1
sec_played        403
dtype: int64

In [39]:
spotify_2024.isna().sum()

ts              0
platform        0
ms_played       0
conn_country    0
Track_name      0
Artist_name     0
Album_name      0
date            0
year            0
sec_played      0
dtype: int64

In [38]:
spotify_2024=spotify_2024.dropna()

**possible analysis**
1) top artist,songs and albums
2) most streamed artist and song
3) prefered platform
4) most time listened on a particular date
5) define genre (possible scraping from web)

#### **TOP ARTISTS**

In [40]:
top_artists = spotify_2024.groupby(by= ['Artist_name'])['Artist_name'].size().reset_index(name= 'Count')

In [41]:
top_artists= top_artists.sort_values(by= 'Count', ascending=False).reset_index(drop= True)

In [42]:
top_artists.head()

            Artist_name  Count
0        Lizzy McAlpine    240
1         Billie Marten    230
2                  Yana    220
3  Cigarettes After Sex    218
4       BETWEEN FRIENDS    206

#### **TOP SONGS**

In [43]:
top_songs = spotify_2024.groupby(by= ['Artist_name','Track_name'])['Track_name'].size().reset_index(name= 'Count')

In [44]:
top_songs=top_songs.sort_values('Count', ascending=False).reset_index(drop=True)

In [45]:
top_songs.head()

     Artist_name            Track_name  Count
0           Yana              The Wall     66
1   Nectar Woode       Good Vibrations     45
2   Isabel Pless              The Bite     42
3  David Fleming  Domestic Bliss No. 1     42
4    Hannah Hill                Ur Mom     38

#### **Top Album**

In [48]:
top_album = spotify_2024.groupby(by= ['Track_name','Artist_name','Album_name'])['Album_name'].size().reset_index(name= 'Count')

In [54]:
top_album.sort_values(by= 'Count', ascending=False, inplace=True)
top_album.reset_index(drop=True, inplace=True)

In [55]:
top_album.head()

,Track_name,Artist_name,Album_name,Count
0,The Wall,Yana,The Wall,66
1,Good Vibrations,Nectar Woode,Good Vibrations,45
2,Domestic Bliss No. 1,David Fleming,Mr. & Mrs. Smith (Prime Video Original Series ...,42
3,The Bite,Isabel Pless,The Bite,42
4,Ur Mom,Hannah Hill,Ur Mom,38

#### **Most streamed artist and songs**

In [75]:
most_streamed_as = spotify_2024.groupby(['Artist_name', 'Track_name']).agg(
    Count=('Artist_name','size'),
    Total_sec_played=('sec_played','sum')
    ).reset_index()

In [77]:
most_streamed_as=most_streamed_as.sort_values(by= 'Count', ascending=False).reset_index(drop= True)

In [81]:
most_streamed_as['min_played'] = (most_streamed_as['Total_sec_played']/60).round()

In [82]:
most_streamed_as.head(1)

  Artist_name Track_name  Count  Total_sec_played  min_played
0        Yana   The Wall     66             11642       194.0

#### **Platform Analysis**

In [61]:
platform_df = spotify_2024.groupby(['platform']).size().reset_index(name= 'Count')

In [68]:
platform_df.loc[platform_df['platform']=='osx', 'platform'] = 'macos'

In [66]:
platform_df= platform_df.drop([1,4]).reset_index(drop=True)

In [69]:
platform_df

      platform  Count
0      android  15162
1        macos   1653
2  playstation      2
3      windows    419