In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px
import datetime as dt

In [2]:
streaming_history_2024= pd.read_json(r"dataset files\Streaming_History_Audio_2024_8.json")
streaming_history_2024_2023 = pd.read_json(r"dataset files\Streaming_History_Audio_2023-2024_7.json")

In [3]:
pd.get_option("display.max_columns")

20

In [4]:
streaming_history_2024.drop(columns= ['ip_addr','spotify_track_uri','episode_name','episode_show_name','spotify_episode_uri',\
                                      'reason_start','reason_end','shuffle','skipped','offline','offline_timestamp','incognito_mode'],\
                                        axis=1, inplace=True)

In [5]:
streaming_history_2024.rename(columns= {'master_metadata_track_name':'Track_name','master_metadata_album_artist_name':'Artist_name',\
                                        'master_metadata_album_album_name':'Album_name'}, inplace=True)

In [6]:
streaming_history_2024_2023.drop(columns=['ip_addr','spotify_track_uri','episode_name','spotify_episode_uri',\
                                          'reason_start','reason_end','shuffle','skipped','offline','offline_timestamp',\
                                            'incognito_mode','episode_show_name'], axis=1, inplace=True)

In [7]:
streaming_history_2024_2023.rename(columns={'master_metadata_track_name':'Track_name',\
                                            'master_metadata_album_artist_name':'Artist_name',\
                                            'master_metadata_album_album_name':'Album_name'}, inplace=True)

In [8]:
streaming_history_2024_2023['date'] = pd.to_datetime(streaming_history_2024_2023['ts']).dt.date
streaming_history_2024['date'] = pd.to_datetime(streaming_history_2024['ts']).dt.date

In [9]:
streaming_history_2024_2023['year'] = pd.to_datetime(streaming_history_2024_2023['date']).dt.year
streaming_history_2024['year'] = pd.to_datetime(streaming_history_2024['date']).dt.year

In [10]:
streaming_history_2024_2023.head()

,ts,platform,ms_played,conn_country,Track_name,Artist_name,Album_name,date,year
0,2023-06-26T11:33:33Z,android,33571,IN,Bye Bye Blues,Stela Cole,Bye Bye Blues,2023-06-26,2023
1,2023-06-26T11:37:25Z,android,136956,IN,Bye Bye Blues,Stela Cole,Bye Bye Blues,2023-06-26,2023
2,2023-06-26T11:39:41Z,android,141575,IN,Rich Like That - deluxe,ELIO,ELIO'S INFERNO,2023-06-26,2023
3,2023-06-26T11:42:11Z,android,156000,IN,people must think we’re idiots,Emily Vaughn,people must think we’re idiots,2023-06-26,2023
4,2023-06-26T11:45:04Z,android,179446,IN,Something In The Way,bülow,Something In The Way,2023-06-26,2023

In [11]:
streaming_history_2024.head()

,ts,platform,ms_played,conn_country,Track_name,Artist_name,Album_name,date,year
0,2024-05-04T11:00:08Z,osx,9653,IN,None Of My Business,Cher Lloyd,None Of My Business,2024-05-04,2024
1,2024-05-04T11:00:55Z,osx,47082,IN,None Of My Business,Cher Lloyd,None Of My Business,2024-05-04,2024
2,2024-05-04T11:01:09Z,osx,12373,IN,None Of My Business,Cher Lloyd,None Of My Business,2024-05-04,2024
3,2024-05-04T11:01:09Z,osx,85,IN,None Of My Business,Cher Lloyd,None Of My Business,2024-05-04,2024
4,2024-05-04T11:01:21Z,osx,12554,IN,None Of My Business,Cher Lloyd,None Of My Business,2024-05-04,2024

In [12]:
streaming_history_2024_2023_filtered = streaming_history_2024_2023[streaming_history_2024_2023['year']==2024]

In [13]:
streaming_history_2024_2023_filtered.reset_index()

,index,ts,platform,ms_played,conn_country,Track_name,Artist_name,Album_name,date,year
0,9878,2024-01-01T03:04:10Z,android,60487,IN,Hotel,Claire Rosinkranz,6 Of A Billion,2024-01-01,2024
1,9879,2024-01-01T03:06:28Z,android,147368,IN,CHARGER (ft. Charli XCX),ELIO,ELIO and Friends : The Remixes,2024-01-01,2024
2,9880,2024-01-01T03:08:51Z,android,151077,IN,How to Be Alone,Rachel Grae,How to Be Alone,2024-01-01,2024
3,9881,2024-01-01T03:10:51Z,android,129938,IN,Scatterbrain,Emei,Scatterbrain,2024-01-01,2024
4,9882,2024-01-01T03:13:26Z,android,27536,IN,London Boy,Taylor Swift,Lover,2024-01-01,2024
...,...,...,...,...,...,...,...,...,...,...
9254,19132,2024-05-04T10:57:16Z,osx,178228,IN,Hate Me,Ellie Goulding,Brightest Blue,2024-05-04,2024
9255,19133,2024-05-04T10:57:18Z,osx,8234,IN,Queen,Loren Gray,Queen,2024-05-04,2024
9256,19134,2024-05-04T10:57:27Z,osx,9738,IN,Queen,Loren Gray,Queen,2024-05-04,2024
9257,19135,2024-05-04T10:59:57Z,osx,150805,IN,Queen,Loren Gray,Queen,2024-05-04,2024
9258,19136,2024-05-04T10:59:59Z,osx,8414,IN,None Of My Business,Cher Lloyd,None Of My Business,2024-05-04,2024

In [14]:
#Importing SQLAlchemy to integrate into the project
from sqlalchemy import MetaData, create_engine, Column, Integer, String, Float, ForeignKey
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import sessionmaker, relationship
from sqlalchemy import text
metadata =MetaData()

In [15]:
engine= create_engine('sqlite:///Spotify_data.db')

In [ ]:
streaming_history_2024.to_sql('SH2024', engine, index=False, if_exists='replace')
streaming_history_2024_2023_filtered.to_sql('SH2324_filtered', engine, index= False, if_exists= 'replace')

9259

In [19]:
query= """
SELECT s24.ts, s24.platform, s24.ms_played, s24.conn_country, s24.Track_name, s24.Artist_name, s24.Album_name, s24.date, s24.year
FROM SH2024 as s24
UNION ALL 
SELECT s234.ts, s234.platform, s234.ms_played, s234.conn_country, s234.Track_name, s234.Artist_name, s234.Album_name, s234.date, s234.year
FROM SH2324_filtered as s234
"""
spotify_2024 = pd.read_sql(query, engine)

In [21]:
spotify_2024.sort_values(by= 'date', ascending=True, inplace=True)

In [22]:
spotify_2024.head()

,ts,platform,ms_played,conn_country,Track_name,Artist_name,Album_name,date,year
16219,2024-01-01T07:55:02Z,android,597,IN,Cutout,Softee,Cutout,2024-01-01,2024
16364,2024-01-01T08:25:09Z,android,11340,IN,Swalla (feat. Nicki Minaj & Ty Dolla $ign),Jason Derulo,Swalla (feat. Nicki Minaj & Ty Dolla $ign),2024-01-01,2024
16363,2024-01-01T08:24:57Z,android,16333,IN,Tip Toe (feat. French Montana),Jason Derulo,Tip Toe (feat. French Montana),2024-01-01,2024
16362,2024-01-01T08:24:40Z,android,14741,IN,On The Loose,Niall Horan,Flicker,2024-01-01,2024
16361,2024-01-01T08:24:25Z,android,8209,IN,I Love to Love,Tina Charles,I Love To Love - The Best Of,2024-01-01,2024